  .head {
    text-align: center;
  }

  .headtitle h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 72px;
  }

  .subhead {
    font-family: 'Droid Serif', serif;
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
    margin: 0px;
  }

  main {
    text-align: center;
    font-family: 'Droid Serif', serif;
    color: #2f2f2f;
  }

  main p {
    text-align: justify;
    font-size: 20px;
  }

  .container h2 {
    margin: 20px 0px 20px 0px;
  }

  form .form-control {
    font-size: 20px;
  }


  .posts div {
    margin: 20px 0px 20px 0px;
    padding: 30px 20px 15px 20px;
    border-radius: 10px;
    border: 1px solid #2f2f2f;
  }

  .posts p {
    text-align: center;
    font-size: 25px;
  }

  .options .fas {
    font-size: 35px;
    margin: 10px 20px 10px 20px;
    cursor: pointer;
  }

  @media screen and (max-width: 600px),
  (max-width: 900px),
  (max-width: 1100px) {
    .headtitle h1 {
      font-size: 50px;
    }

    .subhead h4 {
      font-size: 15px;
    }

    main h2 {
      font-size: 25px;
    }

    .container img {
      width: 250px;
    }
  }